body{
    padding-top: 40px;
    padding-left: 300px;
    width:600px;
    height:1000px;
    background-image:linear-gradient(rgb(229, 45, 45),yellow,rgb(0, 183, 255),green); 
    border-radius: 30px;
    font-family:monospace;

}  
h1{
    color:deeppink;
    font-size: 50px;
    font-weight: 40px;
    font-style: italic;
    
} 
.main{
    
    border-radius: 40px;
    background-image:linear-gradient(white,rgb(39, 232, 39),white,green);
    height:650px;
    width:900px;
    border-radius: 40px;
    border-top: 12px solid blue;
    border-left:12px solid blue;
    border-bottom: 12px solid blue;
    
}

input{
    border-radius: 15px;
    height:30px;
    background-color:cornsilk;
    padding-left: 10px;
    
}
label{
    font-size: 20px;
}
img{
    border-radius: 20px;
    animation: 2s;
    animation-name: name;
    transition-duration: 3s;
    
}

button{
    background-color: rgb(195, 0, 255);
    width:100px;
    height:30px;
    border-radius:20px ;
    color:antiquewhite;
}
